#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp2s0 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Qji2L.BQ2qRmfxor$hbconAMU70idzODsc.QZ3mPMRT77jmAtyaP6V3GlJOn/eWZUDE4Valfqh/j0VbnLQBfmC5I0ri2jDFUPhxwwZ.
# System timezone
timezone Asia/Shanghai --isUtc
user --name=user --password=$6$QQpxNRHN2M7VM24w$oOYOsW2DEaRgQ.Z9ajfabpR8VL1snLxoXYmdIZ81oD.GevdocX0SBn5pEcao0cRUCRCXY7Gms1eV8ivucLeJ30 --iscrypted --gecos="user"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
# Partition clearing information
clearpart --all --initlabel --drives=sdb
# Disk partitioning information
part swap --fstype="swap" --ondisk=sdb --size=4096
part /boot --fstype="ext4" --ondisk=sdb --size=204
part / --fstype="ext4" --ondisk=sdb --size=472639

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
